@charset "utf8";
/*
#wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100vH;
}
#top {
    margin: 0 auto;
    position: relative;
    height: 100vH;
}
#top img{
    top: 50px;
    width: 90%;
    height: 90%;
    margin: 50px auto;
    
}
#top p{
    position: absolute;
    color: white;    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}
#header {
    height: 60px;
    background-color: #043501;
}

#nav {
    list-style: none;
    overflow: hidden;
}

#nav li {
    text-align: center;
    float: left;
    width: 150px;

}
#nav li a {
    text-decoration: none;
    color: white;
}
*/

h1 {
    padding-left: 30px;
}

p {
    margin-left: 50px;
}
.main, .essential_oils, .effects, .registerList, .relations {
    margin: 50px 50px;
}
.essential_oils p, .effects p, .main p, .relations p, .registerList p {
    font-size: 17px;
    margin-left: 30px;
}
.essential_oils ul, .effects ul, .relations ul{
    list-style: none;
} 
